<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shincha.naverblog.model.dao.NaverCredentialsDao">

    <resultMap id="CredentialsResultMap" type="NaverCredentials">
        <id property="id" column="id"/>
        <result property="encryptedId" column="encrypted_id"/>
        <result property="encryptedPassword" column="encrypted_password"/>
        <result property="blogId" column="blog_id"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="find" resultMap="CredentialsResultMap">
        SELECT * FROM naver_credentials LIMIT 1
    </select>

    <insert id="upsert" parameterType="NaverCredentials">
        INSERT INTO naver_credentials (id, encrypted_id, encrypted_password, blog_id)
        VALUES (1, #{encryptedId}, #{encryptedPassword}, #{blogId})
        ON DUPLICATE KEY UPDATE
            encrypted_id = #{encryptedId},
            encrypted_password = #{encryptedPassword},
            blog_id = #{blogId}
    </insert>

</mapper>
